<p id="notice"><%= notice %></p>

<p>
  <strong>Ip address:</strong>
  <%= @environment.ip_address %>
</p>

<p>
  <strong>Data:</strong>
  <%= @environment.data %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %>
